<!DOCTYPE html>
<html lang="en">
<head>
    <title>Single Page Application</title>
</head>
<body>
    <div>
        <h1>Employee Monitoring System</h1>
        <nav>
            <button id="home">Home</button>    
            <button id="showAll">Show All</button>    
            <button id="addNew">Add New</button>    
        </nav>
    </div>
    <div>
        <h2>List of Records with Us</h2>
        <hr>
        <table border="1">
                
        </table>
    </div>
    <div>
        <h2>Details of selected Employee</h2>
        <hr>
    </div>
    <div>
        <h2>New Employee Registration</h2>
        <hr>
    </div>
</body>
</html>